{
  "extends": [
    "plugin:react/recommended",
    "eslint:recommended",
    "react-app",
    "plugin:import/errors",
    "plugin:import/warnings"
  ],
  "plugins": [
    "prettier",
    "import"
  ],
  "rules": {
    "prettier/prettier": "error"
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [
          ".js",
          ".jsx",
          ".ts",
          ".tsx"
        ]
      }
    }
  }
}